<!-- formulaire.component.html -->

<h2>Formulaire</h2>

<div class="row">
  <div class="col-md-6">
    <div class="mb-3">
      <label for="nom" class="form-label">Nom:</label>
      <input type="text" id="nom" class="form-control" [(ngModel)]="nom">
    </div>

    <div class="mb-3">
      <label for="prenom" class="form-label">Prénom:</label>
      <input type="text" id="prenom" class="form-control" [(ngModel)]="prenom">
    </div>

    <div class="mb-3">
      <label for="adresse" class="form-label">Adresse:</label>
      <input type="text" id="adresse" class="form-control" [(ngModel)]="adresse">
    </div>

    <div class="mb-3">
      <label for="codePostal" class="form-label">Code Postal:</label>
      <input type="number" id="codePostal" class="form-control" [(ngModel)]="codePostal">
    </div>

    <div class="mb-3">
      <label for="ville" class="form-label">Ville:</label>
      <input type="text" id="ville" class="form-control" [(ngModel)]="ville">
    </div>

    <div class="mb-3">
      <label for="telephone" class="form-label">Téléphone:</label>
      <input type="number" id="telephone" class="form-control" [(ngModel)]="telephone">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" id="email" class="form-control" [(ngModel)]="email">
    </div>

    <div class="mb-3">
      <label for="civilite" class="form-label">Civilité:</label>
      <input type="text" id="civilite" class="form-control" [(ngModel)]="civilite">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="text" id="password" class="form-control" [(ngModel)]="password">
    </div>

    <div class="mb-3">
      <label for="login" class="form-label">Login:</label>
      <input type="text" id="login" class="form-control" [(ngModel)]="login">
    </div>

    <div class="mb-3">
      <label for="pays" class="form-label">Pays:</label>
      <input type="text" id="pays" class="form-control" [(ngModel)]="pays">
    </div>
  </div>
</div>

<button type="button" class="btn btn-dark" (click)="sendParent()">Submit</button>